body{
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(21, 169, 238, 0.5), rgba(4, 7, 7, 0.5));
    color: white;
    text-align: center;
}
header{
    padding: 50px;
}